<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Admin Portal</h1>
    <h2>Welcome {{ user.firstname }}, </h2>

    {% if users and user.is_admin %}
    <hr>
    <h3>Current Active User:</h3>
    <p>Click the link blow to delete the user.</p>
    <ul>
        {% for uu in users %}
            <li><a href="{{ url_for('delete_user', user_email = uu.email) }}">{{ uu.email }}</a></li>
        {% endfor %}
    </ul>
    <br>
    {% endif %}

    {% if licenses %}
    <hr>
    <h3>License:</h3>
    <ul>
        {% for license in licenses %}
            <li><a href="{{ url_for('license',license_id =license.id) }}">{{ license.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}


    {% if user.is_admin %}
    <li><a href='/license_add'>Click here to add new license</a></li>
    {% endif %}

  <li><a href="/logout">Logout</a></li>
  <hr>
  <footer style="text-align: right">Powered by MSAL Python {{ version }}</footer>
</body>
</html>

